<link rel="stylesheet" href="/css/eventspop.css" />

<button data-modal-target="#modal">Open Modal</button>
<div class="modal flex" id="modal">
    <div class="modal-body">
        <a href="/skills"><img src=<%= poster  %> alt="" /></a>
    </div>
</div>
<div data-close-button id="overlay"></div>
<script src="/js/eventspop.js"><script />
