<link rel="stylesheet" href="/css/eventspop.css" />
<button data-modal-target="#modal"></button>
<div class="modal flex" id="modal">
    <div class="modal-body">
        <a href="/me"><img src=<%= poster  %> alt="" /></a>
    </div>
</div>
<div data-close-button id="overlay"></div>
