<section class="section bg-white h-screen" id="faq">
  <div class="grid flex grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="flex flex-col justify-center mx-7 lg:order-1 order-last">
      <h1
        class="lg:text-4xl text-3xl leading-tight lg:mt-0 mt-3 text-center my-6"
      >
        FAQ
      </h1>
      <div
        class="bg-white w-full mx-auto border rounded border-gray-200"
        x-data="{selected:null}"
      >
        <ul class="shadow-box">
          <li class="relative border-b border-gray-200">
            <button
              type="button"
              class="w-full px-8 py-6 text-left focus:outline-none"
              @click="selected !== 1 ? selected = 1 : selected = null"
            >
              <div class="flex items-center justify-between font-bold">
                <span> Why Zairza? </span>
                <span class="ico-plus"></span>
              </div>
            </button>

            <div
              class="
                relative
                overflow-hidden
                transition-all
                max-h-0
                duration-700
              "
              x-ref="container1"
              x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
            >
              <div class="p-6">
                <p>
                  For people persuing careers in computers and/or robotics,
                  writing code, developing software, and creating exceptional
                  things. That's what we do here. We do things and we help
                  people who are really interested in them.
                </p>
              </div>
            </div>
          </li>

          <li class="relative border-b border-gray-200">
            <button
              type="button"
              class="w-full px-8 py-6 text-left focus:outline-none"
              @click="selected !== 2 ? selected = 2 : selected = null"
            >
              <div class="flex items-center justify-between font-bold">
                <span> How can I join? </span>
                <span class="ico-plus"></span>
              </div>
            </button>

            <div
              class="
                relative
                overflow-hidden
                transition-all
                max-h-0
                duration-700
              "
              x-ref="container2"
              x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            >
              <div class="p-6">
                <p>
                  Zairza conducts formal events for recruitment into the club.
                  The pre-requisite includes a passion for technology and an
                  inquisitive mind. Please contact the club administration for
                  the exact procedures.
                </p>
              </div>
            </div>
          </li>

          <li class="relative border-b border-gray-200">
            <button
              type="button"
              class="w-full px-8 py-6 text-left focus:outline-none"
              @click="selected !== 3 ? selected = 3 : selected = null"
            >
              <div class="flex items-center justify-between font-bold">
                <span> What is the scope of Zairza? </span>
                <span class="ico-plus"></span>
              </div>
            </button>

            <div
              class="
                relative
                overflow-hidden
                transition-all
                max-h-0
                duration-700
              "
              x-ref="container3"
              x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''"
            >
              <div class="p-6">
                <p>
                  The talent pool of the club is widely ranged. We have members
                  working on Web Development, Android Development, Embedded
                  Systems, IoT, Robotics, Machine Learning, Computer Vision and
                  Artificial Intelligence. Our Alumni are placed in many
                  prestigious organizations around the globe.
                </p>
              </div>
            </div>
          </li>
          <li class="relative border-b border-gray-200">
            <button
              type="button"
              class="w-full px-8 py-6 text-left focus:outline-none"
              @click="selected !== 4 ? selected = 4 : selected = null"
            >
              <div class="flex items-center justify-between font-bold">
                <span> I have a Tech project. How can Zairza help me? </span>
                <span class="ico-plus"></span>
              </div>
            </button>

            <div
              class="
                relative
                overflow-hidden
                transition-all
                max-h-0
                duration-700
              "
              x-ref="container3"
              x-bind:style="selected == 4 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''"
            >
              <div class="p-6">
                <p>
                  Zairza can provide you with space and an environment to work
                  on your project. We have a stable fast internet connection and
                  all the tools, components and other required resources for
                  your project. Given the proper report, we can also fund your
                  project. Apart from this, we have senior experienced mentors
                  who will be more than happy to guide you throughout your
                  project.
                </p>
              </div>
            </div>
          </li>
          <li class="relative border-b border-gray-200">
            <button
              type="button"
              class="w-full px-8 py-6 text-left focus:outline-none"
              @click="selected !== 5 ? selected = 5 : selected = null"
            >
              <div class="flex items-center justify-between font-bold">
                <span> What are the club timings? </span>
                <span class="ico-plus"></span>
              </div>
            </button>

            <div
              class="
                relative
                overflow-hidden
                transition-all
                max-h-0
                duration-700
              "
              x-ref="container3"
              x-bind:style="selected == 5 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''"
            >
              <div class="p-6">
                <p>
                  Zairza is open 24 hours per day. Just co-ordinate with the
                  members for the key.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="lg:order-last order-1 lg:-mt-20 lg:block hidden">
      <img class="animated" data-src="/images/illustrations/Saly-6.webp" />
    </div>
  </div>
</section>
