@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.text-custom-blue {
  color: #1071ff;
}

.text-custom-orange {
  color: #ff7610;
}

section {
  position: relative;
  min-height: 100vh;
  /* background-color: #ff7610; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

section .container {
  position: relative;
  height: 800px;
  border: 10px solid #ff7610;
  background: #fff;
  /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  border-radius: 40px;
  /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 4px 4px rgba(0, 0, 0, 0.25); */
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1),
    inset 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .container .user .imgBx {
  position: relative;
  width: 50%;
  /* height: 100%; */
  /* background: #ff7610; */
  transition: 1s;
}

section .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .user .formBx {
  position: relative;
  width: 50%;
  /* height: max-content; */
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 1s;
  margin: 10px;
  border-radius: 40px;
}

section .container .user .formBx .form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section .container .user .formBx .form input {
  position: relative;
  width: 100%;
  /* padding: 10px; */
  background: #f5f5f5;
  color: #333;
  /* border: none; */
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .container .user .formBx .form input:focus,
section .container .user .formBx .form select:focus {
  border: 1px solid #1071ff;
}

section .container .user .formBx .form select::placeholder,
section .container .user .formBx .form input::placeholder {
  color: #1071ff;
}

section .container .user .formBx .form input,
section .container .user .formBx .form select {
  color: #1071ff;
}

section .container .user .formBx .form input[type="submit"] {
  max-width: 100px;
  background: #1471ff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 1s;
}

section .container .user .formBx .form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

section .container .user .formBx .form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #1471ff;
}

section .container .signupBx {
  pointer-events: none;
}

section .container.active .signupBx {
  pointer-events: initial;
}

section .container .signupBx .formBx {
  left: 100%;
}

section .container.active .signupBx .formBx {
  left: 0;
}

section .container .signupBx .imgBx {
  left: -100%;
}

section .container.active .signupBx .imgBx {
  left: 0%;
}

section .container .signinBx .formBx {
  left: 0%;
}

section .container.active .signinBx .formBx {
  left: 100%;
}

section .container .signinBx .imgBx {
  left: 0%;
}

section .container.active .signinBx .imgBx {
  left: -100%;
}

.login-btn,
.register-btn {
  background-color: #3888ff;
}
.login-btn:hover,
.register-btn:hover {
  background-color: #1471ff;
}
.register-btn {
  background-color: #3888ff;
}
.register-btn:hover {
  background-color: #1471ff;
}

#signup_google,
#signup_github,
#signin_google,
#signin_github {
  outline: none !important;
}

/* Submit button for local authentication */

/* #signin-btn {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #1ecd97;
  color: #1ecd97;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
} */
#signin-btn {
  transition: all 0.25s ease;
}
#signin-btn:hover {
  color: white;
}
#signin-btn:active {
  letter-spacing: 2px;
}
/* #signin-btn:after {
  font-family: "FontAwesome";
  content: "\f090 Sign In";
  word-spacing: 10px;
} */

.onclic {
  content: "" !important;
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-radius: 40px;
  background-color: #fff;
  margin: auto;
  margin-top: 20px;
  border-left-color: #1471ff;
  -webkit-animation: rotating 2s 0.25s linear infinite;
  animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: " " !important;
}
.onclic:hover {
  color: #1471ff;
  background: white;
}

.validate-success {
  font-size: 13px;
  color: white;
  background: #1471ff;
}
.validate-fail {
  font-size: 13px;
  color: white;
  background: #1471ff;
}
.validate-success:after {
  font-family: "FontAwesome" !important;
  content: "\f00c" !important;
  font-size: 20px;
  vertical-align: middle;
}
.validate-fail:after {
  font-family: "FontAwesome" !important;
  content: "\f00d" !important;
  font-size: 20px;
  vertical-align: middle;
}

/* Connect 3rd party auth in profile page */

/* my-toggle-group my-toggle {
  background: #e5e7eb;
  width: 80px;
  height: 40px;
  border-radius: 40px;
}

my-toggle-group my-toggle my-toggle-orb {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  top: 4px;
  left: 4px;
  transition: all 0.2s cubic-bezier(0.22, 1, 0.36, 1);
  position: absolute;
  background: #fff;
  z-index: 2;
}
my-toggle-group my-toggle input[type="checkbox"] {
  height: 80px;
  width: 40px;
  margin: 0 !important;
  background: #f87171 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
my-toggle-group my-toggle input[type="checkbox"]:checked {
  background: #34d399 !important;
}
my-toggle-group my-toggle input[type="checkbox"]:checked ~ my-toggle-orb {
  transform: translateX(calc(0.67 * (calc(80px - 32px)) + calc(4px * 2)));
} */

/* Third Party new toggle */
.toggle-wrapper {
  /* font-size: 2rem; */
  /* display: flex;
  align-items: center; */
  font-size: inherit;
}

.toggle_input {
  width: 2em !important;
  height: 2em;
  /* visibility: hidden;
  position: absolute; */
}

.connect {
  /* display: flex;
  flex-direction: row; */
  color: #404843;
}

.fancy-toggle {
  font-size: 3rem;
  width: 1em;
  height: 1em;
  padding: 0.2em;
  /* position: relative; */
  box-sizing: content-box;
  margin-right: 1em;
  transition: transform 0.4s cubic-bezier(.5, 0, .5, 1);
  transition-property: transform, width, background-color;
}
.fancy-toggle .bg {
  background: grey;
  /* position: relative;
  top: 0;
  left: 0; */
  width: 175%;
  /* height: 100%; */
  border-radius: 2em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  transition: inherit;
}
.fancy-toggle .circle {
  width: .8em;
  height: .8em;
  background: white;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: inherit;
  /* position: absolute; */
  top: 14px;
  left: 14px;
}
.fancy-toggle .circle > svg {
  transform: rotate(-90deg);
  margin: -0.1em;
}
.fancy-toggle .loader {
  stroke: #6C80F5;
  stroke-width: 6;
  fill: none;
  stroke-dasharray: 1 1;
  stroke-dashoffset: -1;
  transition: stroke-dasharray calc(1000 * 0.5ms) linear,
    stroke-dashoffset 1000ms linear;
}

.status {
  overflow: hidden;
  display: grid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.status > div {
  grid-area: 1/1;
}

.status-text {
  transition: transform .3s cubic-bezier(.5, 0, .5, 1);
}
.status-text[data-for="off"],
.status-text[data-for="pending"] {
  transform: translateY(-100%);
}
.status-text[data-for="on"] {
  transform: translateY(100%);
}
.status-text[data-active] ~ [data-for="pending"] {
  transform: translateY(100%);
}
.status-text[data-active] {
  transform: translateY(0);
}

[data-state="off"] .fancy-toggle .bg {
  background: #e44b45;
}

[data-state="pending"] .fancy-toggle {
  transform: translateX(50%);
}
[data-state="pending"] .fancy-toggle .bg {
  width: 100%;
  background: #b5b5b5;
}
[data-state="pending"] .fancy-toggle .loader {
  stroke-dashoffset: 0;
}

[data-state="on"] .fancy-toggle .bg {
  background: #1bce6f;
}
[data-state="on"] .fancy-toggle .circle {
  transform: translateX(95%);
}
[data-state="on"] .fancy-toggle .loader {
  stroke-dashoffset: 1;
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  section .container {
    max-width: 100%;
  }

  section .container .imgBx {
    display: none;
  }

  section .container .user .formBx {
    width: 100%;
  }
}
