@import url("https://kodhus.com/kodhus-ui/kodhus-0.1.0.min.css");

.active-nav-link {
  background: #1071ff;
  color: #fff;
  border-radius: 3px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
}
.nav-item:hover {
  background: #1071ff;
  border-radius: 3px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
}
.account-link:hover {
  background: #1071ff;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.get-android-app {
  background-color: #ff7610;
}
.get-ios-app {
  background-color: #1071ff;
}
.get-app:hover {
  transform: scale(1.04);
  transition: transform 100ms ease-in-out;
}
.bg-orange {
  background-color: #ff7610;
}
.text-blue {
  color: #1071ff;
}
.text-orange {
  color: #ff7610;
}
.toast {
  left: 10%;
}
.bg-blue {
  background-color: #1071ff;
}

@media (max-width: 800px) {
  .nav-item:hover {
    margin-left: unset;
    margin-right: unset;
  }
  .active-nav-link {
    margin-left: unset;
    margin-right: unset;
  }
}

[x-cloak] {
  display: none;
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.form-checkbox,
.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  color: currentColor;
  background-color: #fff;
  border-color: #e2e8f0;
  border-width: 1px;
  height: 1.4em;
  width: 1.4em;
}

.form-checkbox {
  border-radius: 0.25rem;
}

.form-radio {
  border-radius: 50%;
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.form-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.tag-container {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 6px;
  overflow-x: hidden;
}

.tag-container .tag {
  height: 30px;
  margin: 5px;
  padding: 5px 6px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background: rgb(55, 119, 240);
  font-weight: bold;
  display: flex;
  align-items: center;
  color: rgb(230, 238, 247);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgb(119, 169, 243);
  cursor: default;
}
.tag i {
  font-size: 16px;
  color: rgb(199, 225, 247);
  margin-left: 5px;
  font-weight: bold;
}
.tag-container input {
  padding: 5px;
  font-size: 16px;
  border: 0;
  outline: none;
  font-family: "Rubik";
  color: #333;
  flex: 1;
}
.tag-container:focus-within {
  border: 2px solid rgb(46, 125, 243);
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
