
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 400ms ease-in-out;
  z-index: 99999;
  width: 40%;
  height: 50%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 400ms ease-in-out;
  z-index: 10000;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.modal-img {
  width: 100%;
}

@media (max-width: 1024px) {
  .modal {
    width: 70%;
    height: auto;
  }
}
