Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["zairza-website"]
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  "/firebase_service_account.json" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-ap-south-1.amazonaws.com/zairza-website/configuration/firebase_service_account.json