<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FF7610" />
    <link rel="icon" type="image/png" href="/images/Visual.webp" />
    <title>404 Page Not Found</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <div class="container">
      <section class="page_404 m-auto w-screen h-screen">
        <div class="text-center h-screen flex flex-col justify-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
          </div>

          <div class="contant_box_404">
            <h3 class="h2">Looks like you're lost</h3>

            <p>The page you are looking for is not available!</p>

            <a
              href="/"
              class="link_404 shadow-xl inline-block rounded-full py-3 px-6 text-white my-3"
              >Go to Home</a
            >
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
