<!doctype html>
<html>
<head><title>Log-In</title></head>
<script>
	if (window.opener) {
		window.opener.postMessage("popup-done", "*"); 
		setTimeout(function() {window.close()}, 0);
	}
</script>
</head>
<body>
</body>
</html>