<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FF7610" />
    <link rel="icon" type="image/png" href="/images/Visual.webp" />
    <title>Our Blogs</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {},
          screens: {
            xl: { max: "1279px" },
            lg: { max: "1023px" },
            md: { max: "768px" },
            sm: { max: "639px" },
          },
        },
      };
    </script>
  </head>

  <body>
    <%- include('../partials/firebase.ejs') %> <%-
    include('../partials/toast.ejs') %>
    <header
      style="
        background-image: url('/images/blogs/blog-bg.webp');
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
      "
      class="flex items-center h-auto w-screen bg-fixed bg-center bg-cover"
    >
      <div
        class="
          lg:py-40
          py-28
          lg:mx-20
          sm:mx-auto
          mx-40
          sm:text-4xl
          md:text-6xl
          text-7xl
          font-bold
          text-white
        "
      >
        Insightful<br />
        blogs for you
      </div>
    </header>
    <div class="lg:mx-20 mx-40 my-20">
      <!-- Blog cards -->
      <div
        id="main"
        class="
          grid
          lg:grid-cols-3
          md:grid-cols-2
          sm:grid-cols-1
          gap-1
          justify-evenly
        "
      >
        <!-- 1 -->
        <div class="w-full px-4 py-4">
          <div class="bg-white drop-shadow flex-col rounded-lg">
            <div class="w-full">
              <img
                src="/images/blogs/10.webp"
                alt="blog-1"
                class="w-full object-fill rounded-lg"
              />
            </div>
            <div class="w-full font-bold text-2xl pt-4 pb-2 px-4">
              <a href="#">Proin leo felis, euismod non porta eget, varius sit amet</a>
            </div>
            <div class="w-full px-4 py-2 pb-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              placerat a magna non varius. Proin leo felis, euismod non porta
              eget, varius sit amet
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="w-full px-4 py-4">
          <div class="bg-white drop-shadow flex-col rounded-lg">
            <div class="w-full">
              <img
                src="/images/blogs/10.webp"
                alt="blog-1"
                class="w-full object-fill rounded-lg"
              />
            </div>
            <div class="w-full font-bold text-2xl pt-4 pb-2 px-4">
              <a href="#">Proin leo felis, euismod non porta eget, varius sit amet</a>
            </div>
            <div class="w-full px-4 py-2 pb-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              placerat a magna non varius. Proin leo felis, euismod non porta
              eget, varius sit amet
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="w-full px-4 py-4">
          <div class="bg-white drop-shadow flex-col rounded-lg">
            <div class="w-full">
              <img
                src="/images/blogs/10.webp"
                alt="blog-1"
                class="w-full object-fill rounded-lg"
              />
            </div>
            <div class="w-full font-bold text-2xl pt-4 pb-2 px-4">
              <a href="#">Proin leo felis, euismod non porta eget, varius sit amet</a>
            </div>
            <div class="w-full px-4 py-2 pb-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              placerat a magna non varius. Proin leo felis, euismod non porta
              eget, varius sit amet
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="w-full px-4 py-4">
          <div class="bg-white drop-shadow flex-col rounded-lg">
            <div class="w-full">
              <img
                src="/images/blogs/10.webp"
                alt="blog-1"
                class="w-full object-fill rounded-lg"
              />
            </div>
            <div class="w-full font-bold text-2xl pt-4 pb-2 px-4">
              <a href="#">Proin leo felis, euismod non porta eget, varius sit amet</a>
            </div>
            <div class="w-full px-4 py-2 pb-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              placerat a magna non varius. Proin leo felis, euismod non porta
              eget, varius sit amet
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="w-full px-4 py-4">
          <div class="bg-white drop-shadow flex-col rounded-lg">
            <div class="w-full">
              <img
                src="/images/blogs/10.webp"
                alt="blog-1"
                class="w-full object-fill rounded-lg"
              />
            </div>
            <div class="w-full font-bold text-2xl pt-4 pb-2 px-4">
              <a href="#">Proin leo felis, euismod non porta eget, varius sit amet</a>
            </div>
            <div class="w-full px-4 py-2 pb-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              placerat a magna non varius. Proin leo felis, euismod non porta
              eget, varius sit amet
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="w-full px-4 py-4">
          <div class="bg-white drop-shadow flex-col rounded-lg">
            <div class="w-full">
              <img
                src="/images/blogs/10.webp"
                alt="blog-1"
                class="w-full object-fill rounded-lg"
              />
            </div>
            <div class="w-full font-bold text-2xl pt-4 pb-2 px-4">
              <a href="#">Proin leo felis, euismod non porta eget, varius sit amet</a>
            </div>
            <div class="w-full px-4 py-2 pb-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              placerat a magna non varius. Proin leo felis, euismod non porta
              eget, varius sit amet
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="w-full px-4 py-4">
          <div class="bg-white drop-shadow flex-col rounded-lg">
            <div class="w-full">
              <img
                src="/images/blogs/10.webp"
                alt="blog-1"
                class="w-full object-fill rounded-lg"
              />
            </div>
            <div class="w-full font-bold text-2xl pt-4 pb-2 px-4">
              <a href="#">Proin leo felis, euismod non porta eget, varius sit amet</a>
            </div>
            <div class="w-full px-4 py-2 pb-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              placerat a magna non varius. Proin leo felis, euismod non porta
              eget, varius sit amet
            </div>
          </div>
        </div>
        <!-- 8 -->
        <div class="w-full px-4 py-4">
          <div class="bg-white drop-shadow flex-col rounded-lg">
            <div class="w-full">
              <img
                src="/images/blogs/10.webp"
                alt="blog-1"
                class="w-full object-fill rounded-lg"
              />
            </div>
            <div class="w-full font-bold text-2xl pt-4 pb-2 px-4">
              <a href="#">Proin leo felis, euismod non porta eget, varius sit amet</a>
            </div>
            <div class="w-full px-4 py-2 pb-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              placerat a magna non varius. Proin leo felis, euismod non porta
              eget, varius sit amet
            </div>
          </div>
        </div>
        <!-- 9 -->
        <div class="w-full px-4 py-4">
          <div class="bg-white drop-shadow flex-col rounded-lg">
            <div class="w-full">
              <img
                src="/images/blogs/10.webp"
                alt="blog-1"
                class="w-full object-fill rounded-lg"
              />
            </div>
            <div class="w-full font-bold text-2xl pt-4 pb-2 px-4">
              <a href="#">Proin leo felis, euismod non porta eget, varius sit amet</a>
            </div>
            <div class="w-full px-4 py-2 pb-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              placerat a magna non varius. Proin leo felis, euismod non porta
              eget, varius sit amet
            </div>
          </div>
        </div>
        <!-- 10 -->
        <div class="w-full px-4 py-4">
          <div class="bg-white drop-shadow flex-col rounded-lg">
            <div class="w-full">
              <img
                src="/images/blogs/10.webp"
                alt="blog-1"
                class="w-full object-fill rounded-lg"
              />
            </div>
            <div class="w-full font-bold text-2xl pt-4 pb-2 px-4">
              <a href="#">Proin leo felis, euismod non porta eget, varius sit amet</a>
            </div>
            <div class="w-full px-4 py-2 pb-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              placerat a magna non varius. Proin leo felis, euismod non porta
              eget, varius sit amet
            </div>
          </div>
        </div>
        <!-- 11 -->
        <div class="w-full px-4 py-4">
          <div class="bg-white drop-shadow flex-col rounded-lg">
            <div class="w-full">
              <img
                src="/images/blogs/10.webp"
                alt="blog-1"
                class="w-full object-fill rounded-lg"
              />
            </div>
            <div class="w-full font-bold text-2xl pt-4 pb-2 px-4">
              <a href="#">Proin leo felis, euismod non porta eget, varius sit amet</a>
            </div>
            <div class="w-full px-4 py-2 pb-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              placerat a magna non varius. Proin leo felis, euismod non porta
              eget, varius sit amet
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
