<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FF7610" />
    <link rel="icon" type="image/png" href="/images/Visual.webp" />
    <title>Domain | Zairza</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Varela&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Khula&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {},
          screens: {
            xl: { max: "1279px" },
            lg: { max: "1023px" },
            md: { max: "768px" },
            sm: { max: "639px" },
          },
        },
      };
    </script>
  </head>
  <body id="main">
    <%- include('../partials/firebase.ejs') %>

    <main class="relative mb-24">
      <nav id="mob-menu" class="fixed flex hidden z-40 w-full">
        <div class="w-1/2 h-screen layer block md:hidden"></div>
        <ul
          class="list-none p-12 text-white pt-32 pl-24 text-2xl bg-blue-500 h-screen w-1/2 md:w-full md:px-12"
        >
          <li class="py-4"><a href="/">Home</a></li>
          <% if(loggedIn){ %>
          <li class="py-4"><a href="/projects">Projects</a></li>
          <% } %>
          <li class="py-4">
            <a rel="”noreferrer”" href="https://blog.zairza.in/">Blogs</a>
          </li>
          <li class="py-4"><a href="/about">About Us</a></li>
          <li class="py-4"><a href="/team">Members</a></li>
          <% if(loggedIn){ %>
          <li class="py-4"><a href="/me">Dashboard</a></li>
          <li class="py-4"><a href="#" onclick="logout()">Sign Out</a></li>
          <% } else { %>
          <li class="py-4"><a href="/auth#signin">Log In</a></li>
          <li class="py-4"><a href="/auth#signup">Sign Up</a></li>
          <% } %>
          <li class="flex mt-5">
            <a
              rel="”noreferrer”"
              href="mailto:cet.sac.zairza@gmail.com"
              class="pr-4 bx-tada-hover"
              ><img src="/images/new-landing/mail.png" alt=""
            /></a>
            <a
              rel="”noreferrer”"
              href="https://github.com/zairza-cetb"
              class="pr-4 bx-tada-hover"
              ><img src="/images/new-landing/git.png" alt=""
            /></a>
            <a
              rel="”noreferrer”"
              href="https://www.instagram.com/zairza.cetb"
              class="pr-4 bx-tada-hover"
              ><img src="/images/new-landing/insta.png" alt=""
            /></a>
            <a
              rel="”noreferrer”"
              href="https://twitter.com/zairza_cetb"
              class="pr-4 bx-tada-hover"
              ><img src="/images/new-landing/twitter.png" alt=""
            /></a>
          </li>
        </ul>
      </nav>
      <section>
        <header
          class="navbar lg:flex lg:justify-between lg:items-center z-40 md:px-8"
        >
          <div
            class="flex justify-between items-center px-4 py-3 sm:p-0 w-full"
          >
            <div class="flex items-center justify-end w-full md:mt-0 mt-8">
              <div
                class="menu-container ml-20 flex items-center justify-center"
              >
                <div class="flex rounded-full flex-col justify-center">
                  <div class="relative rounded-full sm:max-w-xl mx-auto">
                    <nav x-data="{ open: false }">
                      <button
                        class="w-10 h-10 relative focus:outline-none bg-white rounded-full menu-button"
                        onclick="this.classList.toggle('opened'); toggleMenu()"
                        @click="open = !open"
                      >
                        <!-- <span class="sr-only">Open main menu</span> -->
                        <div
                          class="block w-5 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
                        >
                          <span
                            aria-hidden="true"
                            class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                            :class="{'rotate-45': open,' -translate-y-1.5': !open }"
                          ></span>
                          <span
                            aria-hidden="true"
                            class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                            :class="{'opacity-0': open } "
                          ></span>
                          <span
                            aria-hidden="true"
                            class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                            :class="{'-rotate-45': open, ' translate-y-1.5': !open}"
                          ></span>
                        </div>
                      </button>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </section>

      <section
        class="flex w-full justify-between px-28 md:px-12 sm:px-6 pt-9 md:pb-12 z-20"
      >
        <div class="pt-3 sm:pt-0 z-30">
          <img
            class="h-6 cursor-pointer"
            src="/images/Zairzalogo.webp"
            id="nav-logo"
          />
        </div>
        <% if(!loggedIn){ %>
        <div class="pt-3 sm:pt-0 mr-24 z-40 md:hidden">
          <a id="sign-in-btn" href="/auth#signin">Sign In</a>
        </div>
        <% } %>
      </section>
      <section class="mx-28 md:mx-12 my-16 w-max h-max relative">
          <div class="sm:text-3xl md:text-4xl text-6xl text-black " style="font-family: 'Khula', sans-serif">Domains we cover</div>
      </section>
      <section class="mx-28 md:mx-12 my-16 relative r">
          <div class="grid md:grid-cols-1 grid-cols-3  gap-y-10 gap-x-16">
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/embeds.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/iot.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/ai.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/ml.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/robotos.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/devops.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/blockchain.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/cloud.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/webdev.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/appdev.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/cybers.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/webapp.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/reactn.png" alt="ai"/>
              </div>

              
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/gd.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/cp.png" alt="ai"/>
              </div>
              <div class="col-span-1">
                  <img src="/images/new-landing/domains/design.png" alt="ai"/>
              </div>
              <div  class="col-span-1">
                <img src="/images/new-landing/domains/vidEdit.png" alt="ai"/>
              </div>
          </div>
      </section>
    </main>
  </body>
  <script src="/js/script.js"></script>
  <script src="/js/dashboard.js"></script>
</html>
