<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Me | Zairza</title>
    <meta name="theme-color" content="#FF7610" />
    <link rel="icon" type="image/png" href="/images/Visual.webp" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine-ie11.min.js"
      integrity="sha512-Atu8sttM7mNNMon28+GHxLdz4Xo2APm1WVHwiLW9gW4bmHpHc/E2IbXrj98SmefTmbqbUTOztKl5PDPiu0LD/A=="
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="antialiased bg-gray-200">
    <div
      x-data="{ sidemenu: false }"
      class="h-screen flex overflow-hidden"
      x-cloak
      @keydown.window.escape="sidemenu = false"
    >
      <div class="md:hidden">
        <div
          @click="sidemenu = false"
          class="fixed inset-0 z-30 bg-gray-600 opacity-0 pointer-events-none transition-opacity ease-linear duration-300"
          :class="{'opacity-75 pointer-events-auto': sidemenu, 'opacity-0 pointer-events-none': !sidemenu}"
        ></div>

        <!-- Small Screen Menu -->
        <div
          class="fixed inset-y-0 left-0 flex flex-col z-40 max-w-xs w-full bg-white transform ease-in-out duration-300 -translate-x-full"
          :class="{'translate-x-0': sidemenu, '-translate-x-full': !sidemenu}"
        >
          <!-- Brand Logo / Name -->
          <div class="flex items-center px-6 py-3 h-16">
            <div class="text-2xl font-bold tracking-tight text-gray-800">
              Me@Zairza
            </div>
          </div>
          <!-- @end Brand Logo / Name -->

          <div class="px-4 py-2 flex-1 h-0 overflow-y-auto">
            <ul>
              <li>
                <a
                  href="#"
                  class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mr-4 opacity-50"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <rect
                      x="0"
                      y="0"
                      width="24"
                      height="24"
                      stroke="none"
                    ></rect>
                    <rect x="4" y="4" width="6" height="6" rx="1" />
                    <rect x="14" y="4" width="6" height="6" rx="1" />
                    <rect x="4" y="14" width="6" height="6" rx="1" />
                    <rect x="14" y="14" width="6" height="6" rx="1" />
                  </svg>
                  Dashboard
                </a>
              </li>

              <li>
                <a
                  href="/settings"
                  class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mr-4 opacity-50"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <rect
                      x="0"
                      y="0"
                      width="24"
                      height="24"
                      stroke="none"
                    ></rect>
                    <path
                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                    />
                    <circle cx="12" cy="12" r="3" />
                  </svg>
                  Settings
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- @end Small Screen Menu -->
      </div>

      <!-- Menu Above Medium Screen -->
      <div
        class="bg-white w-64 min-h-screen overflow-y-auto hidden md:block shadow relative z-30"
      >
        <!-- Brand Logo / Name -->
        <div class="flex items-center px-6 py-3 h-32">
          <!-- <div class="text-2xl font-bold tracking-tight text-gray-800">Me@Zairza</div> -->
          <img src="/images/Zairzalogo.webp" alt="" />
        </div>
        <!-- @end Brand Logo / Name -->

        <div class="px-4 py-2">
          <ul>
            <li>
              <a
                href="#"
                class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mr-4 opacity-50"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                  <rect x="4" y="4" width="6" height="6" rx="1" />
                  <rect x="14" y="4" width="6" height="6" rx="1" />
                  <rect x="4" y="14" width="6" height="6" rx="1" />
                  <rect x="14" y="14" width="6" height="6" rx="1" />
                </svg>
                Dashboard
              </a>
            </li>

            <li>
              <a
                href="#"
                class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mr-4 opacity-50"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                  <path
                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                  />
                  <circle cx="12" cy="12" r="3" />
                </svg>
                Settings
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- @end Menu Above Medium Screen -->

      <div class="flex-1 flex-col relative z-0 overflow-y-auto">
        <div
          class="px-4 md:px-8 py-2 h-16 flex justify-between items-center shadow-sm bg-white"
        >
          <div class="flex items-center w-2/3">
            <div
              class="p-2 rounded-full hover:bg-gray-200 cursor-pointer md:hidden"
              @click="sidemenu = !sidemenu"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="text-gray-600"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                <line x1="4" y1="6" x2="20" y2="6" />
                <line x1="4" y1="12" x2="20" y2="12" />
                <line x1="4" y1="18" x2="20" y2="18" />
              </svg>
            </div>
            <div
              class="text-xl font-bold tracking-tight text-gray-800 md:hidden ml-2"
            >
              Dashing Admin.
            </div>
          </div>
          <div class="flex items-center">
            <a
              href="#"
              class="text-gray-500 p-2 rounded-full hover:text-blue-600 hover:bg-gray-200 cursor-pointer mr-4"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                <path
                  d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"
                />
                <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
              </svg>
            </a>

            <div class="relative" x-data="{ open: false }" x-cloak>
              <div
                @click="open = !open"
                class="cursor-pointer font-bold w-10 h-10 bg-blue-200 text-blue-600 flex items-center justify-center rounded-full"
              >
               
              </div>

              <div
                x-show.transition="open"
                @click.away="open = false"
                class="absolute top-0 mt-12 right-0 w-48 bg-white py-2 shadow-md border border-gray-100 rounded-lg z-40"
              >
                <a
                  href="/profile"
                  class="flex px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-edit mr-4"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"
                    ></path>
                    <path
                      d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3"
                    ></path>
                    <line x1="16" y1="5" x2="19" y2="8"></line>
                  </svg>
                  Edit Profile
                </a>
                <a
                  href="/settings"
                  class="flex px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-settings mr-4"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                    ></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>
                  Settings
                </a>
                <a
                  href="/logout"
                  class="flex px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-logout mr-4"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
                    ></path>
                    <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
                  </svg>
                  Sign Out
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="md:max-w-6xl md:mx-auto px-4 py-8">
          <% if(!user.registration_no) { %>
          <div
            class="bg-red-200 text-red-700 px-6 py-4 rounded-lg relative mb-5"
            role="alert"
            x-data="{ open: true }"
            x-show.transition="open"
          >
            <div class="mr-4">
              <strong class="font-bold">Profile Update Due!</strong>
              <span class="block sm:inline"
                >Please complete your profile to continue using our
                services.</span
              >
            </div>

            <span
              class="cursor-pointer absolute top-0 bottom-0 right-0 hover:bg-red-100 hover:text-red-600 w-10 h-10 rounded-full inline-flex items-center justify-center mt-2 mr-3"
              x-on:click="open = false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
              </svg>
            </span>
          </div>
          <% } %>
          <div class="flex items-center mb-4">
            <h2 class="text-xl font-bold text-gray-800">
              <span class="text-gray-500">Welcome back,</span>
              <% if (user.name) { %>
              <span class="font-semibold"><%= user.name.split(' ')[0] %></span>
              <% } %>
            </h2>
          </div>

          <section
            class="p-6 my-10 sm:p-8 flex items-center shadow-md rounded-lg" style="background-color: #1471FF;"
          >
            <div class="mr-6">
              <header class="text-xl text-indigo-50 mb-3">
                Link your Github account
              </header>
              <div class="flex flex-wrap">
                <button
                  class="py-2 px-5 text-indigo-700 font-semibold bg-white rounded-full mb-3 mr-5 flex items-center justify-around"
                ><i class="bx bxl-github bx-sm"></i>
                  Link Github
                </button>
                <button
                  class="py-2 px-5 text-white font-semibold bg-indigo-900 rounded-full mb-3 mr-5"
                >
                  Later
                </button>
              </div>
            </div>
            <div class="hidden sm:block mr-0 ml-auto md:mr-8">
              <div
                class="h-32 w-32 flex items-center justify-center text-3xl text-white font-semibold border-4 border-white rounded-full"
              >
                100%
              </div>
            </div>
          </section>

          <div class="flex items-center justify-between mb-4">
            <h2 class="text-xl font-bold text-gray-800">My Subscriptions</h2>
          </div>
          <div class="overflow-x-auto bg-white rounded-lg shadow">
            <table
              class="w-full whitespace-no-wrap bg-white overflow-hidden table-striped"
            >
              <thead>
                <tr class="text-left">
                  <th
                    class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs"
                  >
                    service
                  </th>
                  <th
                    class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs"
                  >
                    Start Date
                  </th>
                  <th
                    class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs"
                  >
                    Paused on
                  </th>
                  <th
                    class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs"
                  >
                    Status
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="focus-within:bg-gray-200 overflow-hidden">
                  <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center"
                      >Newsletter</span
                    >
                  </td>
                  <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center"
                      >15 Mar 2021</span
                    >
                  </td>
                  <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center"
                      >Mar 2022 (1 yr || passout yr)</span
                    >
                  </td>
                  <td class="border-t">
                    <span class="px-6 py-4 flex items-center">
                      <span
                        class="px-2 rounded-full text-sm uppercase tracking-wide font-semibold bg-green-200 text-green-800"
                        >Active</span
                      >
                    </span>
                  </td>
                </tr>

                <tr class="focus-within:bg-gray-200 overflow-hidden">
                  <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center"
                      >Newsletter</span
                    >
                  </td>
                  <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center"
                      >15 Mar 2021</span
                    >
                  </td>
                  <td class="border-t">
                    <span class="text-gray-700 px-6 py-4 flex items-center"
                      >Mar 2022 (1 yr || passout yr)</span
                    >
                  </td>
                  <td class="border-t">
                    <span class="px-6 py-4 flex items-center">
                      <span
                        class="px-2 rounded-full text-sm uppercase tracking-wide font-semibold bg-red-200 text-red-800"
                        >inactive</span
                      >
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
