<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FF7610" />
    <link rel="icon" type="image/png" href="/images/Visual.webp" />
    <title>Newsletter Editor | Zairza</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
      integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.1/alpine.js"></script>
  </head>
  <body>
      <section class="mx-auto">
        <%- include('../partials/toast.ejs') %>
      <div
        class="
          min-w-screen
          h-full
          bg-gray-200
          flex flex-col
          justify-around
          px-5
          py-5
        "
      >
        <h1 class="text-center text-lg font-bold">
          Newsletter Content Editor for ZAIRZA
        </h1>
        <input
          type="text"
          class="
            w-full
            max-w-6xl
            mx-auto
            rounded-xl
            bg-white
            shadow-lg
            p-5
            text-black
            focus:outline-none
          "
          placeholder="Enter title"
        />
        <input
          type="text"
          class="
            w-full
            max-w-6xl
            mx-auto
            rounded-xl
            bg-white
            shadow-lg
            p-5
            text-black
            focus:outline-none
          "
          placeholder="Enter link"
        />
        <div
          class="
            w-full
            max-w-6xl
            mx-auto
            rounded-xl
            bg-white
            shadow-lg
            p-5
            text-black
          "
          x-data="app()"
          x-init="init($refs.wysiwyg)"
        >
          <div class="border border-gray-200 overflow-hidden rounded-md">
            <div
              class="w-full flex border-b border-gray-200 text-xl text-gray-600"
            >
              <button
                class="
                  outline-none
                  focus:outline-none
                  border-r border-gray-200
                  w-10
                  h-10
                  hover:text-indigo-500
                  active:bg-gray-50
                "
                @click="format('bold')"
              >
                <i class="mdi mdi-format-bold"></i>
              </button>
              <button
                class="
                  outline-none
                  focus:outline-none
                  border-r border-gray-200
                  w-10
                  h-10
                  hover:text-indigo-500
                  active:bg-gray-50
                "
                @click="format('italic')"
              >
                <i class="mdi mdi-format-italic"></i>
              </button>
              <button
                class="
                  outline-none
                  focus:outline-none
                  border-r border-gray-200
                  w-10
                  h-10
                  mr-1
                  hover:text-indigo-500
                  active:bg-gray-50
                "
                @click="format('underline')"
              >
                <i class="mdi mdi-format-underline"></i>
              </button>
              <button
                class="
                  outline-none
                  focus:outline-none
                  border-l border-r border-gray-200
                  w-10
                  h-10
                  hover:text-indigo-500
                  active:bg-gray-50
                "
                @click="format('formatBlock','P')"
              >
                <i class="mdi mdi-format-paragraph"></i>
              </button>
              <button
                class="
                  outline-none
                  focus:outline-none
                  border-r border-gray-200
                  w-10
                  h-10
                  hover:text-indigo-500
                  active:bg-gray-50
                "
                @click="format('formatBlock','H1')"
              >
                <i class="mdi mdi-format-header-1"></i>
              </button>
              <button
                class="
                  outline-none
                  focus:outline-none
                  border-r border-gray-200
                  w-10
                  h-10
                  hover:text-indigo-500
                  active:bg-gray-50
                "
                @click="format('formatBlock','H2')"
              >
                <i class="mdi mdi-format-header-2"></i>
              </button>
              <button
                class="
                  outline-none
                  focus:outline-none
                  border-r border-gray-200
                  w-10
                  h-10
                  mr-1
                  hover:text-indigo-500
                  active:bg-gray-50
                "
                @click="format('formatBlock','H3')"
              >
                <i class="mdi mdi-format-header-3"></i>
              </button>
              <button
                class="
                  outline-none
                  focus:outline-none
                  border-l border-r border-gray-200
                  w-10
                  h-10
                  hover:text-indigo-500
                  active:bg-gray-50
                "
                @click="format('insertUnorderedList')"
              >
                <i class="mdi mdi-format-list-bulleted"></i>
              </button>
              <button
                class="
                  outline-none
                  focus:outline-none
                  border-r border-gray-200
                  w-10
                  h-10
                  mr-1
                  hover:text-indigo-500
                  active:bg-gray-50
                "
                @click="format('insertOrderedList')"
              >
                <i class="mdi mdi-format-list-numbered"></i>
              </button>
              <button
                class="
                  outline-none
                  focus:outline-none
                  border-l border-r border-gray-200
                  w-10
                  h-10
                  hover:text-indigo-500
                  active:bg-gray-50
                "
                @click="format('justifyLeft')"
              >
                <i class="mdi mdi-format-align-left"></i>
              </button>
              <button
                class="
                  outline-none
                  focus:outline-none
                  border-r border-gray-200
                  w-10
                  h-10
                  hover:text-indigo-500
                  active:bg-gray-50
                "
                @click="format('justifyCenter')"
              >
                <i class="mdi mdi-format-align-center"></i>
              </button>
              <button
                class="
                  outline-none
                  focus:outline-none
                  border-r border-gray-200
                  w-10
                  h-10
                  hover:text-indigo-500
                  active:bg-gray-50
                "
                @click="format('justifyRight')"
              >
                <i class="mdi mdi-format-align-right"></i>
              </button>
            </div>
            <div class="w-full">
              <iframe
                x-ref="wysiwyg"
                class="w-full h-40 overflow-y-auto"
              ></iframe>
            </div>
          </div>
        </div>
        <div class="flex justify-around">
          <button
            class="
              px-6
              flex
              justify-center
              mx-auto
              py-3
              rounded-full
              bg-green-400
              text-white
            "
          >
            Submit
          </button>
          <button
            class="
              px-6
              flex
              justify-center
              mx-auto
              py-3
              rounded-full
              bg-green-800
              text-white
            "
            id="sendNewsletterBtn"
            onclick="sendNewsletter()"
          >
            <svg
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white hidden"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            <span>Send Newsletter</span>
          </button>
        </div>
      </div>
    </section>
  </body>

  <script src="/js/newsletterEditor.js"></script>
</html>
