<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FF7610" />
    <link rel="icon" type="image/png" href="/images/Visual.webp" />
    <title>My Profile | Zairza</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    <section>
      <%- include('../partials/toast.ejs') %>
      <div class="container rounded-lg">
        <div class="user signinBx">
          <div class="formBx">
            <div class="form" id="profile_form">
              <div class="mt-12 flex flex-col items-center">
                <h1 class="text-2xl xl:text-3xl font-bold"><%= user.name %></h1>
                <div class="w-full flex-1 mt-8">
                  <div class="mx-auto max-w-md">
                    <input
                      class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:bg-white"
                      type="email"
                      placeholder="<%= user.email %>"
                      readonly
                    />
                    <small class="text-custom-blue primary_email ml-1"
                      >Primary Email which will be used to send
                      newsletter</small
                    >
                    <input
                      id="regno"
                      class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:bg-white"
                      type="text"
                      placeholder="Registration number"
                    />
                    <div class="relative">
                      <select id="branch"
                        class="my-2 appearance-none w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:bg-white"
                      >
                        <option selected>Select Branch</option>
                        <option>Computer Science & Engineering</option>
                        <option>Information Technology</option>
                        <option>Electrical Engineering</option>
                        <option>Mechanical Engineering</option>
                        <option>
                          Electronics & Intrumentation Engineering
                        </option>
                        <option>Biotechnology</option>
                        <option>Civil Engineering</option>
                        <option>Textile Engineering</option>
                        <option>Fashion & Apparel Technology</option>
                        <option>Architecture</option>
                        <option>Planning</option>
                        <option>Mathematics & Humanities</option>
                        <option>Physics</option>
                        <option>Chemistry</option>
                      </select>
                      <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                      >
                        <svg
                          class="fill-current h-4 w-4"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="relative">
                      <select id="wing"
                        class="my-2 appearance-none w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:bg-white"
                      >
                        <option selected>Select Wing</option>
                        <option>Software</option>
                        <option>Hardware</option>
                        <option>Design</option>
                      </select>
                      <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                      >
                        <svg
                          class="fill-current h-4 w-4"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                          />
                        </svg>
                      </div>
                    </div>
                    <button
                      id="update-btn"
                      onclick="updateProfile()"
                      class="mt-5 tracking-wide font-semibold register-btn text-gray-100 hover:text-white w-full py-4 rounded-lg transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
                    >
                      <img
                        src="/images/auth/update.png"
                        id="update-icon"
                        alt=""
                      />
                      <span class="ml-3">Update Profile</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="imgBx">
            <img src="/images/auth/newPassword.png" alt="" />
          </div>
        </div>
      </div>
    </section>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"
  ></script>
  <script src="/js/toast.js"></script>
  <script src="/js/profile.js"></script>
</html>
